<%- include('partials/header.ejs'); %>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <h1 class="display-4 text-warning">Not Found!</h1>
                <p class="lead">Looks like You Are lost</p>
                <img src="assets/images/404.png" alt="Error 404 Image" class="img-fluid mb-4" style="object-fit: cover;">
                <p>
                    <a href="/" class="btn btn-primary">Return Home</a>
                </p>
            </div>
        </div>
    </div>
<%- include('partials/footer.ejs'); %>