<%- include('partials/header.ejs'); %>

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }
      body{
        background:linear-gradient(to bottom, #0c0c0c,#2c3e50);
        color: white;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        width: 100%;
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }

      .btn-bd-primary {
        --bd-violet-bg: #712cf9;
        --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

        --bs-btn-font-weight: 600;
        --bs-btn-color: var(--bs-white);
        --bs-btn-bg: var(--bd-violet-bg);
        --bs-btn-border-color: var(--bd-violet-bg);
        --bs-btn-hover-color: var(--bs-white);
        --bs-btn-hover-bg: #6528e0;
        --bs-btn-hover-border-color: #6528e0;
        --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
        --bs-btn-active-color: var(--bs-btn-hover-color);
        --bs-btn-active-bg: #5a23c8;
        --bs-btn-active-border-color: #5a23c8;
      }

      .bd-mode-toggle {
        z-index: 1500;
      }

      .bd-mode-toggle .dropdown-menu .active .bi {
        display: block !important;
      }
    </style>

  <body>

    
<div class="container">
  <main>
    <div class="py-5 text-center">
      <strong class="p-3">TANAIR CARGO</strong>
      <h2>Create New Order</h2>
      <p class="lead">Fill In All Required Details and information to create new order
    </div>

    <div class="row g-5">
      <div class="col-md-5 col-lg-4 order-md-last">
        <h4 class="d-flex justify-content-center align-items-center mb-3">
          <span class="p-1">
            <span class="text-danger">Warning</span> <span class="text-warning">Double-Check Your Order Details</span>
          </span>
        </h4>
        <p>

          Please carefully review your order details before submitting.
          
          Incorrect information, such as shipping address, phone number, or product details, may result in delays or errors in processing your order.
          
          To avoid any inconvenience, please ensure that all information is accurate and complete.
          
          If you need to make any changes, please contact our customer service team immediately.
          
          Thank you for your cooperation.
        </p>
      </div>
      <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Billing Details</h4>
        <form class="needs-validation" novalidate action="/createOrder" method="post" target="_parent">
          <div class="row g-3">
            <div class="col-sm-6">
              <label for="firstName" class="form-label">Full Name</label>
              <input type="text" class="form-control" id="firstName" placeholder="stephano bazaar" value="" required name="customername">
              <div class="invalid-feedback">
                Valid full name is required.
              </div>
            </div>

            <div class="col-sm-6">
              <label for="lastName" class="form-label">Contact</label>
              <input type="text" class="form-control" id="lastName" placeholder="+255 654564546" value="" required name="contact">
              <div class="invalid-feedback">
                Valid Contact is required.
              </div>
            </div>

            <div class="col-12">
                <div class="col-md-6">
                    <label for="country" class="form-label">Product Name</label>
                    <input type="text" class="form-control" id="address2" placeholder="Product Name" name="productname">
                    <div class="invalid-feedback">
                      Product name is required
                    </div>
                  </div>

                  <div class="col-md-6">
                    <label for="country" class="form-label">Quantity</label>
                    <input type="number" class="form-control" id="address2" placeholder="Enter Product Quantity" name="quantity">
                    <div class="invalid-feedback">
                      Quantity.
                    </div>
                  </div>
            </div>

            <div class="col-12">
              <label for="email" class="form-label">Price<span class="text-body-secondary">(In $)</span></label>
              <input type="email" class="form-control" id="email" placeholder="eg: 100$" name="price" required>
              <div class="invalid-feedback">
                Please enter a valid Price
              </div>
            </div>

            <div class="col-12">
              <label for="address" class="form-label">Email</label>
              <input type="text" class="form-control" id="address" placeholder="you@example.com" required name="email">
              <div class="invalid-feedback">
                Please enter your Email.
              </div>
            </div>

            <div class="col-12">
              <label for="address2" class="form-label">Address  <span class="text-body-secondary">(important)</span></label>
              <input type="text" class="form-control" id="address2" placeholder="eg: ilala, dar es salaam" name="address">
            </div>

            <div class="col-md-5">
              <label for="country" class="form-label">Country</label>
              <input type="text" class="form-control" id="address2" placeholder="Enter Your Country">
              <div class="invalid-feedback">
                Enter Your Country.
              </div>
            </div>

            <div class="col-md-4">
                <label for="country" class="form-label">State/Region</label>
                <input type="text" class="form-control" id="address2" placeholder="eg: dar es salaam" name="region">
                <div class="invalid-feedback">
                  State/Region.
                </div>
              <div class="invalid-feedback">
                Please provide a valid state.
              </div>
            </div>

            <div class="col-md-3">
              <label for="zip" class="form-label">Zip/postal code</label>
              <input type="text" class="form-control" id="zip" placeholder="eg:21221 or 0128" required name="zip">
              <div class="invalid-feedback">
                Zip/postal code required.
              </div>
            </div>
          </div>


          <hr class="my-4">

          <h4 class="mb-3">Payment Methods</h4>

          <div class="my-3">
            <select class="form-control" name="payment">
              <option value="debit">Debit Card</option>
              <option value="credit">Credit Card</option>
              <option value="Paypal">Paypal</option>
            </select>
          </div>

          <div class="row gy-3">
            <div class="col-md-6">
              <label for="cc-name" class="form-label">Card Holder Name</label>
              <input type="text" class="form-control" id="cc-name" placeholder="stephan bazaar" required name="cardholder">
              <small class=" text-light">Full name as displayed on card</small>
              <div class="invalid-feedback">
                Name on card is required
              </div>
            </div>

            <div class="col-md-6">
              <label for="cc-number" class="form-label">Credit card number</label>
              <input type="text" class="form-control" id="cc-number" placeholder="000-000-000-000" required name="cardnumber">
              <div class="invalid-feedback">
                Credit card number is required
              </div>
            </div>

            <div class="col-md-3">
              <label for="cc-expiration" class="form-label">Expiration</label>
              <input type="text" class="form-control" id="cc-expiration" placeholder="eg: 12/25" required name="expiredate">
              <div class="invalid-feedback">
                Expiration date required
              </div>
            </div>

            <div class="col-md-3">
              <label for="cc-cvv" class="form-label">CVV</label>
              <input type="text" class="form-control" id="cc-cvv" placeholder="000" required name="cvv">
              <div class="invalid-feedback">
                Security code required
              </div>
            </div>
          </div>

          <hr class="my-4">

          <button class="w-100 btn  btn-lg btn-secondary" type="submit">Create Order</button>
        </form>
      </div>
    </div>
  </main>

  <footer class="my-5 pt-5 text-light text-center text-small">
    <p class="mb-1">&copy; 2024-TANAIR CARGO</p>
  </footer>
</div>
<script src="assets/dist/js/bootstrap.bundle.min.js"></script>
</html>
